name: test action
run-name: ${{ github.actor }} is running tests
permissions:
    contents: read
    pages: read
    id-token: write

on: [push, workflow_dispatch]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: Setup node
              uses: actions/setup-node@v4
            - name: Install dependencies
              run: npm ci
            - name: Run lint and prettier
              run: npm run lint && npm run format:check
            - name: Build and run tests
              run: npm run test
            - name: Build Action
              run: npm run build
            - name: 'Run Compliance State Action'
              uses: ./
              with:
                  cydigConfigPath: ${{ github.workspace }}/src/cydigConfig.json
                  PAT-token: ${{ secrets.MY_GITHUB_PAT}}
                  accessTokenAzureDevOps: ${{ secrets.DEVOPS_TOKEN_WORK_ITEMS }}
                  slackAccessToken: ${{ secrets.SLACK_TOKEN }}
